
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>This dataset consists of the performance of 526 football players in season 15-16. Besides personal information: players' name, value and their team, main data is matrics of their performance, including appearance and 
        substitution time, number of goals, number of penalties they miss, number of red and yellow card they get, etc. THere are also some data that only owned bt defender of GK player like number of goal conceded(GC). Based on
        performance data, dataset also provides a total points computed based on single performance item and average points computed by Total / Value.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<h4>This data is about 526 football player's performance informantion on Telegraph Fantasy Football Premier League 2015-16. It comes from google public data tables.</h4>
	<h4>Original website : <a href="https://fantasy.premierleague.com/">https://fantasy.premierleague.com/</a></h4>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<h4>The data is provided by Fantasy Football Company and is free to use as on-line dataset. Also I set the dataset as public, so everyone who has the url can see it but cannot modify it.</h4>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
