<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>This dataset consists of the performance of 526 football players in season 15-16. Besides personal information: players' name, value and their team, main data is matrics of their performance, including appearance and 
        substitution time, number of goals, number of penalties they miss, number of red and yellow card they get, etc. THere are also some data that only owned bt defender of GK player like number of goal conceded(GC). Based on
        performance data, dataset also provides a total points computed based on single performance item and average points computed by Total / Value.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<h4>Yes, I think this data is complete. As you see, there are some '-' value for CSF(clean full match), CSP(clean part match), GC(goal concede), and PS(panalty save), but they are attibutes that only owned by defender(other 
	player just do not have such attributes). I just replace them with zero during furthur calculateion with pandas. Also there are some players with all zero performance, maybe it is because they get injured and miss the whole 
	season, not incomplete data.</h4>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<h4> No, after use pandas to calculate Total points accoring to the way thet given by author of dataset, some total points is not coherent with its single items. It does not match my expectations since these calculation are
	very easy and should be mistaken. Then I analyze those wrong rows found that most of them are defenders. So I think maybe the formular gives wrong coefficient for items that only for defenders(CSF CSP GC PS). For the differences
	 between given value and my calculated value, their describe information are as below. As we can see, most differences are zero, but some of them can bigger than 10, which is relatively unacceptable considering the scale of total points.</h4>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<h4>What aspects of this data can you verify? How did you do so? What did
	you find?</h4>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
